*{
    margin :0;
    padding : 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}




section{
    height : 100vh;
}

.container{
    width : 90%;
    /* max-width : 1200px; */
    margin : 0 auto;
}

.site_title{
    color : black;
    font-weight: 700;
    font-size : 2rem;

      
}


.nav_bar{
    display : flex;
    justify-content: space-between;
    align-items: center;
    min-height : 70px;
    padding : 0 24px;
    background-color: powderblue;

}

.nav_menu{
    display : flex;
    justify-content: space-between;
    align-items: center;
    gap : 40px;
    
}

.nav_list{
    list-style: none;
    
}

.nav_list a{ 
    text-decoration: none;
    color : black;
}

.nav_list a:hover{
    color : blue;
    transition: 0.5m ease-in-out;
}

.nav_window{
    display : none;
    cursor: pointer;
}

.bar{
    display : block;
    width : 30px;
    margin: 5px auto;
    height: 4px;
    margin : 5px auto;
    background-color: white;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}


.banner{
    width : 100%;
    height : 50vh;
    background-color : whitesmoke;
    margin-top : 0;
    text-align: left;
    padding-bottom : 40px;
    font-size : 30px;
    box-shadow: 10 0 20px (0 0 0 0.4);
}

.banner h4{
    color : black;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
    font-size: 2rem;
    
}

.banner img{
    width : 100%;
    object-fit: cover;
    background : black;
    
}

.established{
    width : 100%;

}

.row{
    display : flex;
    margin : 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top : 24px;
    
}


.column1{
    width : 100%;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0 0 0 0.3);
    padding :  20px;
    border-radius: 3%;
    box-shadow: 0 6px 8px rgba(0,0,0,.2);
    text-align: center;
}

.column1 p{
    text-align: justify;
    line-height: 1.5em;
}



.column3{
    width : 100%;
    background-color: ghostwhite;
    box-shadow: 0 0 10px rgba(0 0 0 0.3);
    padding :  24px;
    border-radius: 5%;
    text-align: center;
}



/* Caution New CSS Rules added */

.banner{
    width : 100%;
    position : relative;

}
.banner .wel-msg{
    top : 50%;
    left : 0;
    position : absolute;
    color : black;
    background : cornsilk;
    width : 40%;
    padding : 20px;
}
.banner .wel-msg h4{
    font-size: 30px;
    line-height: 2px;
    padding : 2px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.banner .wel-msg p{
    font-size : 1.3rem;
    padding : 0.5em;
    margin-left : 0;
}


.banner img{
    width : 100%;
    height : 90vh;
    object-fit: cover;
    
}

.columns{
    display : flex;
    justify-content: space-between;
    align-items: center;
    margin : 0 auto;
    border-radius: 3px;
    padding : 2px;
    
}

.columns .row{
    background : #fff;
    box-shadow: 0 0 7px rgba(0,0,0,.4);
    
}



/*  */




.footer_section{
    background-color: powderblue;
    color : white;

}

/* ================Note below this line is mobile view=============================== */

@media(max-width: 768px){
    .nav_window{
        display : block;
    }

    .nav_window.active .bar:nth-child(2){
        opacity : 0;
    }

    .nav_window.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);

    }

    .nav_window.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);

    }

    .nav_menu{
        position:fixed;
        left : -100%;
        top : 70px;
        gap : 0;
        flex-direction: column;
        background-color: powderblue;
        width : 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav_menu.active{
        left : 0;

    }

};
    
 